certifi==2026.2.25
charset-normalizer==3.4.5
clip @ git+https://github.com/openai/CLIP.git@ded190a052fdf4585bd685cee5bc96e0310d2c93
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
flatbuffers==25.12.19
fonttools==4.60.2
ftfy==6.3.1
graphviz==0.8.4
humanfriendly==10.0
idna==3.11
importlib_resources==6.5.2
joblib==1.5.3
kiwisolver==1.4.7
matplotlib==3.9.4
mpmath==1.3.0
mxnet==1.9.1
numpy==1.23.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
onnxruntime==1.19.2
onnxruntime-gpu==1.15.1
packaging==26.0
pillow==11.3.0
protobuf==6.33.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
regex==2026.1.15
requests==2.32.5
rpe_index==1.2.0
scikit-learn==1.6.1
scipy==1.8.1
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
zipp==3.23.0
